{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    Main Page
{% endblock title %}

{% block content %}
    <div style="text-align:center">
        Data gets updated automatically every 60 seconds!
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Logo</th>
                <th scope="col">Name</th>
                <th scope="col">Rank</th>
                <th scope="col">Market Cap</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% if data %}
                {% for obj in data %}
                    <tr>
                        <td><img class="image align-middle" value="{{forloop.counter}}" src={{obj.image}} height='70'></td>
                        <td class="name align-middle" value="{{forloop.counter}}">{{obj.name}}</td>
                        <td class="rank align-middle" value="{{forloop.counter}}">{{forloop.counter}}</td>
                        <td class="market_cap align-middle" value="{{forloop.counter}}">{{obj.market_cap|intcomma}}</td>
                        <td class="price align-middle" value="{{forloop.counter}}">{{obj.price}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <h3>No data..? (The API is down probably..)</h3>
            {% endif %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    <script>
        // "Humanize" a number (get commas separators)
        function numberWithCommas(x) {   
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        
        // Basic websocket setup
        chatSocket = new WebSocket("ws://localhost:8000/ws/")

        chatSocket.onopen = function(e){
            console.log("WebSocket connected successfully")
        }

        chatSocket.onclose = function(e){
            console.log("WebSocket closed")
        }

        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data)

            // Find crypto currency by value, set to one received from the socket

            // Set name
            document.querySelector(`.name[value="${Object.values(data)[0][0]}"]`).innerHTML = Object.keys(data)[0];

            // Set price
            document.querySelector(`.price[value="${Object.values(data)[0][0]}"]`).innerHTML = Object.values(data)[0][1];
            
            // Set image
            document.querySelector(`.image[value="${Object.values(data)[0][0]}"]`).innerHTML = Object.values(data)[0][2];

            // Set market cap
            document.querySelector(`obj.market_cap[value="${Object.values(data)[0][0]}"]`).innerHTML = numberWithCommas(Object.values(data)[0][3]);
  
        }
    </script>
{% endblock scripts %}
