{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    Main Page
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Logo</th>
                <th scope="col">Name</th>
                <th scope="col">Rank</th>
                <th scope="col">Market Cap</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% if data %}
                {% for obj in data %}
                    <tr>
                        <td><img src={{obj.image}} height='70'></td>
                        <td class="name align-middle" value="{{obj.name}}">{{obj.name}}</td>
                        <td class="rank align-middle" value="{{obj.name}}">{{obj.market_cap_rank}}</td>
                        <td class="market_cap align-middle" value="{{obj.name}}">{{obj.market_cap|intcomma}}</td>
                        <td class="price align-middle" value="{{obj.name}}">{{obj.current_price|intcomma}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <h3>Nothing Here..</h3>
            {% endif %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}

    <script>

        chatSocket = new WebSocket("ws://localhost:8000/ws/")

        chatSocket.onopen = function(e){
            console.log("WebSocket connected successfully")
        }

        chatSocket.onclose = function(e){
            console.log("WebSocket closed")
        }

        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data)
            console.log(data)

            console.log(Object.values(data)[0])
            document.querySelector(`.price[value="${Object.keys(data)[0]}"]`).innerHTML = Object.values(data)[0];

        }
    
    </script>

{% endblock scripts %}
